body
{
	color: #000000;
}

BODY, TABLE, TR, TD, TH, P, UL, LI {
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	}
H1 {
	color: #000;
	font-family: Verdana, Arial, Helvetica;
	font-size: 24px;
	}
H2, H3, H4 {
	color: #000;
	font-family: Verdana, Arial, Helvetica;
	font-size: 18px;
	}
A:link {
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	color: #024;
	text-decoration: none;
	}
A:visited {
	font-family: Verdana, Arial, Helvetica;
	font-size : 11px;
	color : #624;
	text-decoration: none;
	}
A:active {
	font-family: Verdana, Arial, Helvetica;
	font-size : 11px;
	color : #635;
	text-decoration: underline;
	}
A:hover {
	font-family: Verdana, Arial, Helvetica;
	font-size : 11px;
	color: #646;
	text-decoration: underline;
	}
button,
INPUT, TEXTAREA {
	background-color: #CC9;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	color: #000;
	}
INPUT.button {
	COLOR: #CC9;
	FONT-FAMILY: Verdana, Arial, Helvetica;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
	PADDING: 0px 5px 0px 5px;
	BACKGROUND-COLOR: #663;
	}
INPUT.buttonhover {
	COLOR: #CC9;
	FONT-FAMILY: Verdana, Arial, Helvetica;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
	PADDING: 0px 5px 0px 5px;
	BACKGROUND-COLOR: #F90;
	}
INPUT.buttonwarning {
	COLOR: #CC9;
	FONT-FAMILY: Verdana, Arial, Helvetica;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
	PADDING: 0px 5px 0px 5px;
	BACKGROUND-COLOR: #C00;
	}
SELECT, OPTION {
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	color: #CCCC99;
	background-color: #663;
	}
.warning
{
	color: #ff0000;
}

TD.alignright  { text-align: right; }
TD.alignleft   { text-align: left; }
TD.aligncenter { text-align: center; }

td.ae a {
        display: block;
        float: left;
        width:16px;
        height:16px;
        overflow:hidden;
        text-indent:99px;
}
td.ae a.ae_view { background: url('/images/icons/view.png'); }
td.ae a.ae_copy { background: url('/images/icons/copy.png'); }
td.ae a.ae_edit { background: url('/images/icons/edit.png'); }
td.ae a.ae_print { background: url('/images/icons/printer.png'); }
td.ae a.ae_delete { background: url('/images/icons/delete.png'); }


.ipe {
        border: none;
        border: 0px;
        margin: 0px 0px 0px 0px;
}
.ipeh {
        display: none;
}
.ipeb {
        display: inline;
}
a#close {
        position: absolute;
        top: 0px;
        right: 4px;
}
div#popup {
        float: left;
        display: none;
        position:absolute;
        background: url('/images/popup.gif') repeat;
        height: auto;
        z-index: 9999;
        border: 1px solid;
        margin: 1px;
}
div#popup ul {
        padding: 2px 20px 2px 10px;
        margin: 0px;
}
div#popup ul li {
        z-index: 12;
        padding: 1px;
        list-style-type: none;
}
div#popup ul li:hover {
        background: #FFFFFF;
}

